src/main/resources/schema/eis.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/Test/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Test" targetNamespace="http://www.example.org/Test/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.example.org/Test/">
            <xsd:element name="putXml">
                <xsd:complexType>
                    <xsd:sequence>

                        <xsd:element name="payload" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="putXmlResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ack" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="putXmlRequest">
        <wsdl:part element="tns:putXml" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="putXmlResponse">
        <wsdl:part element="tns:putXmlResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="Test">
        <wsdl:operation name="putXml">
            <wsdl:input message="tns:putXmlRequest"/>
            <wsdl:output message="tns:putXmlResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TestSOAP" type="tns:Test">

    	<soap:binding style="document"
    		transport="http://schemas.xmlsoap.org/soap/http" />
    	<wsdl:operation name="putXml">

    		<soap:operation
    			soapAction="http://www.example.org/Test/putXml" />
    		<wsdl:input>

    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="literal" />
    		</wsdl:output>
    	</wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Test">
        <wsdl:port binding="tns:TestSOAP" name="TestSOAP">
            <soap:address location="http://0.0.0.0:8089/postToEIS"/> 
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>